/* Color Palette:
    White: #FFFFFF
    Black: #212121
    Orange: #FF9D60
    Blue: #07BDD6
    Lime Green: #D1EC3F
    Lavendar: #E6B4F4
    Hot Pink: #FF4AB3
*/
    

/*Change fonts, have alternate fonts available*/

html, body {
    height: 100%;
    margin: 0;
    color: #212121;
    font-size: 1rem;
    background-color: #07BDD6;
}

h1 {
    font-family: serif;
    font-size: 2.5rem;
    color: #212121;
}

h3 {
    font-family: "Futura", monospace;
    font-size: 1.5rem;
    color: #212121;
}

p b {
    font-family: "Futura", monospace;
    color: #212121;
}







/*LOGO*/

.logo {
  max-width: 200px;   
  margin: 0 auto;     
  padding: 1rem;      
  text-align: center; 
}

.logo img {
  width: 100%;   
  height: auto;   
  display: block;
}







